.popover {
    position: absolute;
    z-index: 1;
    transform: translateY(-55%);

    margin-left: 1.75rem;

    /* Style , Fonts */
    background-color: #525252;
    border-radius: 20px;
    text-align: center;
    width: 280px;
}

.popoverArrow {
    position: absolute;
    width: 0;
    height: 0;

    bottom: 50%;
    right: 100%;
    transform: translateY(50%);

    border-style: solid;
    border-width: 10px 10px 10px 0;
    border-color: transparent #525252 transparent transparent;
}

.popoverContent {
    padding: 10px;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    color: var(--primary-color);
}

@media (max-width: 600px) {
    .popover {
        transform: translateY(-115%);
        left: 50%;
        margin-left: -140px;
    }

    .popoverArrow {
        bottom: -10px;
        left: 50%;
        transform: translateX(-50%) rotate(45deg);

        border-style: solid;
        border-width: 10px 10px 10px 10px;
        border-color: transparent #525252 transparent transparent;
    }
}
