.modal {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    background-color: var(--neutral-white);

    z-index: 9 !important;

    border-radius: 10px;
}

.backdrop {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    height: 100vh;
    width: 100%;
    background-color: var(--modal-backdrop);
    backdrop-filter: blur(5px);
}
