.container {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999999999;
    width: 100%;
    height: 100vh;
    background-color: var(--modal-backdrop);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal {
    background-color: var(--primary-white);
    max-height: 95vh;
    max-width: 95vw;
    position: relative;
    border-radius: 2rem;
    padding: var(--padding-sm) ;
    padding-top: var(--padding-lg);
}

.content {
    text-align: left;
    height: 70vh;
    overflow-y: scroll;
    padding: 0 var(--padding-sm);
}

.content h3, 
.content h4, 
.content strong, 
.content p {
    display: inline-block;
    padding-bottom: var(--spacing-unit);
}

.button {
    position: absolute;
    right: 0;
    top: 0;
    padding: var(--padding-md);
    cursor: pointer;
}

.actions {
    display: flex;
    justify-content: center;
}

@media only screen and (min-width: 700px) {
    .modal {
        max-width: 80vw;
        max-height: 90vh;
        padding: var(--padding-lg);
    }
}
