.container {
    display: flex;
    flex-direction: row;
    align-items:end;
    justify-content: space-between;
    margin-top:106.91px;
}

.icon.one .icon {
    /* Vector */
    position: absolute;
    left: 12.5%;
    right: 12.5%;
    top: 4.17%;
    bottom: 4.17%;
}

.icon.one .value {
    /* +7 */
    position: absolute;
    width: 63px;
    height: 64px;
    left: 203.3px;
    top: 504.49px;
}

.icon.one .description {
    /* Years in operation */
    position: absolute;
    width: 163px;
    height: 24px;
    left: 160.42px;
    top: 601px;
}

.icon.two .icon {
    /* Vector */
    position: absolute;
    left: 8.33%;
    right: 8.34%;
    top: 8.33%;
    bottom: 12.5%;
}

.icon.two .value {
    /* +72 */
    position: absolute;
    width: 95px;
    height: 64px;
    left: 683px;
    top: 504.49px;
}

.icon.two .description {
    /* Network events */
    position: absolute;
    width: 140px;
    height: 24px;
    left: 666.42px;
    top: 601px;
}

.icon.three .icon {
    /* Vector */
    position: absolute;
    left: 0%;
    right: 0%;
    top: 25%;
    bottom: 25%;
}

.icon.three .value {
    /* +250 */
    position: absolute;
    width: 127px;
    height: 64px;
    left: 1152.58px;
    top: 504.49px;
}

.icon.three .description {
    /* Participants */
    position: absolute;
    width: 109px;
    height: 24px;
    left: 1168.42px;
    top: 601px;
}