.container {
    width: 1200px;
    margin: 0 auto;
}

.board_title_container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding: 8px;
    gap: 8px;

    position: absolute;
    width: 225px;
    height: 54px;
    left: 608px;
    top: 2726px;
}

.board_title_text {
    width: 225px;
    height: 54px;
    margin: 0px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 54px;

    /* identical to box height */
    text-align: center;

    /* Primary/3 */
    color: #022777;


    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

.board_container {
    position: absolute;
    width: 1440px;
    height: 793px;
    left: 0px;
    top: 2836px;

    /* Primary/3 */
    background: #022777;
}