.title {
  text-align: center;
  color: var(--primary-blue);
  padding: var(--padding-lg);
}
.subtitle {
  color: var(--primary-blue);
}

.mail {
  text-decoration: none;
  color: var(--primary-blue);
}
.mailimg {
  visibility: hidden;
}

.midia {
  padding-top: 41px;
}
.maple {
  background-image: url(/vector2.svg);
}
@media only screen and (max-width: 600px) {
  .maple {
    background-image: url(/britologohalf.svg);
  }
  .title {
    text-align: center;
    padding: var(--padding-sm);
  }
  .mail {
    text-decoration: underline;
    padding: 0 var(--padding-sm);
  }
  .mailimg {
    visibility: visible;
  }
}
