.footer .logoAndSocial{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items:center;
}

.iconContainer {
    display: flex;
    gap: 23px;
}

.navigation {
    font-size: 1.5rem;
    color: var(--primary-blue);
    text-decoration: none;
}

.navigation:hover {
    color: var(--primary-blue);
    background-color: var(--primary-white);
}

.footerBottom {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.copyrightText {
    /* Paragraph/Default */
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: var(--primary-blue);
}

.termsLink {
    /* Paragraph/Default */
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: var(--primary-blue);
    text-decoration: underline;
}

.footerLink:hover {
    /* Link/Hover */
    color: var(--primary-blue);
    background-color: var(--primary-white);
}



