.footerContainer {
    padding: var(--padding-lg) 148px var(--padding-lg) 0;
}

.logoAndSocial {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.socialContainer {
    display: flex;
    gap: calc(1.4 * var(--spacing-unit));
}

.title {
    padding: var(--padding-md) 0;
    color: var(--primary-blue);
}

.navigation {
    padding: var(--padding-sm) 0;
    color: var(--primary-blue);
    text-decoration: none;
}

.navigation:hover {
    color: var(--primary-blue);
    background-color: var(--neutral-white);
}

.footerBottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.footerLinks {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--spacing-unit);
}

.copyrightText {
    color: var(--primary-blue);
}

.termsLink {
    color: var(--primary-blue);
    text-decoration: underline;
}

.footerLink:hover {
    /* Link/Hover */
    color: var(--primary-blue);
    background-color: var(--neutral-white);
}

@media only screen and (max-width: 600px) {
    .logoAndSocial p {
        display: none;
    }

    .logo {
        width: 26%;
    }

    .footerContainer {
        padding: var(--padding-sm) 53px var(--padding-sm) 0;
    }

    .socialContainer {
        display: flex;
        gap: var(--spacing-unit);
    }

    .title {
        padding: var(--margin-xs) 0;
    }

    .navigation {
        padding: var(--padding-xs) 0;
        text-decoration: none;
    }
}
