.formContainer {
    background: #0B6128;
}

.title {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 40px;

    text-align: center;
    color: #fff;

    /* Temporary untill figure it out better option to top marging */
    padding-top: 90px;
}

.labelForm {
    width: 115px;
    height: 24px;

/* Body/B2 */

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 24px;
/* identical to box height, or 133% */

display: flex;
align-items: center;

/* Primary/4 */

color: #F5F5FA;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}

.inputForm {}
