.formContainer {
    background: var( --secundary-green);
}

.title {
    font-size: 40px;
    text-align: center;
    color: var(--primary-white);

    /* Temporary untill figure it out a better option to top marging */
    padding: 90px 0px 40px 0;
}

.formSectionOne {
    display: grid;    
    grid-template-columns: auto auto;
    justify-content: space-around;
}

.formSectionTwo {
    grid-column: 1 / span 3;
    grid-row: 2;       
}

.labelForm {
    width: 300px;
    height: 24px;

    font-weight: 400;
    font-size: 18px;

    display: flex;
    align-items: center;

    margin-top: 30px;

    color:var(--primary-white);
}

.inputForm {
    padding: 8px 12px;

    width: 500px;
    height: 40px;

    /* border set to none to remove some styles that were being applied from somewhere */
    border: none;
    border-radius: 5px;
    background-color: var(--primary-white);
}

.inputFormSectionTwo {
    width: 100%;
}

.roundedFormImage {
    width: 400px;
    height: 400px;
    border-radius: 50%;
    border: 10px solid #FFFF;
}

.checkBoxForm {
    margin-right: 0.6rem;
}