.formContainer {
    background: var( --secundary-green);
    padding: var(--padding-sm) var(--padding-md);
}

.title {
    text-align: center;
    color: var(--primary-white);

    /* Temporary untill figure it out a better option to top marging */
    padding: var(--padding-lg) 0px var(--padding-md) 0;
}

.formSections {
    display: grid;    
    grid-template-columns: 1fr 1fr;
    justify-content: space-around;
}

.formSectionOne {
    margin-top: 2.5rem;
}

.imageContainer {
    grid-column: 2;
    grid-row: 1;    
    
    margin-left: auto; 
    margin-right: 0;
}

.formSectionTwo {
    grid-column: 1 / span 3;
    grid-row: 2;       
}

.labelForm {
    width: 300px;
    height: 24px;

    display: flex;
    align-items: center;

    margin-top: 2rem;

    color:var(--primary-white);
}

.inputForm {
    padding: 0.5rem 0.75rem;

    /* width: 100%; testing with grid set to 2fr 1fr for row 1 */
    width: 600px;
    height: 40px;

    /* border set to none to remove some styles that were being applied from somewhere, maybe from globals not sure yet */
    border: none;
    border-radius: 5px;
    background-color: var(--primary-white);
}

.inputFormSectionTwo {
    width: 100%;
    padding: 0.5rem 0.75rem;

    height: 2.5rem;

    /* border set to none to remove some styles that were being applied from somewhere */
    border: none;
    border-radius: 5px;
    background-color: var(--primary-white);
}

.roundedFormImage {
    width: 400px;
    height: 400px;
    border-radius: 50%;
    border: 10px solid var(--primary-white);

    margin: 0.75rem auto;
}

.checkBoxForm {
    margin-right: 0.6rem;
}