:root {
    --primary-green: #0d712e;
    --primary-yellow: #ffd900;
    --primary-blue: #022777;
    --primary-white: #f5f5fa;

    --secondary-blue: #1c3183;
    --secondary-dark-green: #00450e;
    --secondary-green: #0b6128;
    --secondary-light-green: #069736;
    --secondary-yellow: #1c3183;
    --secondary-red-warning: #ed3233;

    --tertiary-light-blue: #b0c4d5;
    --tertiary-dark-blue: #104b7e;
    --tertiary-yellow: #ffcb21;
    --tertiary-background: rgba(194, 18, 18, 0.15);

    --neutral-black: #1a1a1a;
    --neutral-dark: #39393d;
    --neutral-medium-dark: #525252;
    --neutral-medium: #9b9b9f;
    --neutral-medium-light: #c7c8d0;
    --neutral-light: #f2f2f7;
    --neutral-white: #ffffff;

    --button-primary-hover: #374399;
    --button-primary-active: #002167;
    --button-primary-outline: #eeeff4;
    --button-primary-outline-hover: #374399;
    --button-primary-outline-active: #002167;
    --button-secondary: #0d712e;
    --button-secondary-hover: #348145;
    --button-secondary-outline: #0d712e;
    --button-secondary-outline-active: #00450e;
    --button-text-disabled: #39393d;
    --button-outline-disabled: #989799;
    --button-bg-outline-disabled: #f5f5f5;

    --modal-backdrop: rgba(0, 0, 0, 0.5);
    --menu-border: rgba(155, 155, 159, 0.5);

    --base-font-size: 16px;
    --font-b2: 1.125rem;
    --font-b3: 1.5rem;
    --font-b4: 1rem;
    --font-weight-normal: 400;

    --spacing-unit: 16px;
    --spacing-xs: calc(var(--spacing-unit) / 3);
    --spacing-sm: calc(var(--spacing-unit) / 2);
    --spacing-md: calc(2 * var(--spacing-unit));
    --spacing-lg: calc(3 * var(--spacing-unit));
    --spacing-xl: calc(4 * var(--spacing-unit));

    --margin-xxs: calc(0.25 * var(--spacing-unit));
    --margin-xs: calc(0.5 * var(--spacing-unit));
    --margin-sm: var(--spacing-unit);
    --margin-md: calc(2 * var(--spacing-unit));
    --margin-lg: calc(4 * var(--spacing-unit));

    --padding-xs: calc(0.5 * var(--spacing-unit));
    --padding-sm: var(--spacing-unit);
    --padding-md: calc(2 * var(--spacing-unit));
    --padding-lg: calc(4 * var(--spacing-unit));

    --radius-xs: calc(0.3 * var(--spacing-unit));
    --radius-sm: calc(0.6 * var(--spacing-unit));
    --radius-md: var(--spacing-unit);
    --radius-lg: calc(2 * var(--spacing-unit));

    --strong-line: 3px solid var(--neutral-medium-light);
}

html {
    scroll-behavior: smooth;
}

body {
    font-size: var(--base-font-size);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.display,
h1,
h2,
h3,
h4,
h5 {
    font-weight: 700;
}

.display {
    font-size: 3.625rem;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 3.5rem;
}

h3 {
    font-size: 2.875rem;
}

h4 {
    font-size: 2.375rem;
}

h5 {
    font-size: 1.75rem;
}

p {
    padding-bottom: var(--spacing-unit);
}

.uppercase {
    text-transform: uppercase;
}

.body1 {
    font-size: 2rem;
}

.body2 {
    font-size: 1.5rem;
}

.body3 {
    font-size: 1.5rem;
    font-weight: 500;
}

.body4 {
    font-size: 1.5rem;
}

.body5 {
    font-size: 1.5rem;
    font-weight: 300;
}

button,
a {
    font-size: 1.5rem;
    font-weight: 700;
}

button {
    color: var(--neutral-white);
    padding: var(--padding-sm) var(--padding-lg);
    border-radius: 40px;
    border: 1px solid;
    line-height: 24px;
    cursor: pointer;
}

button.primary {
    background-color: var(--primary-blue);
}

button.primary:hover {
    background-color: var(--button-primary-hover);
}

button.primary:active {
    background-color: var(--button-primary-active);
}

button.primary.outline {
    color: var(--primary-blue);
    background-color: var(--button-primary-outline);
    border-color: var(--primary-blue);
}

button.primary.outline:hover {
    color: var(--button-primary-outline-hover);
    border-color: var(--button-primary-outline-hover);
}

button.primary.outline:active {
    color: var(--button-primary-outline-active);
    border-color: var(--button-primary-outline-active);
}

button.secondary {
    background-color: var(--button-secondary);
}

button.secondary:hover {
    background-color: var(--button-secondary-hover);
}

button.secondary:active {
    background-color: var(--button-secondary-outline-active);
}

button.secondary.outline {
    color: var(--button-secondary-outline);
    background-color: var(--button-primary-outline);
    border-color: var(--button-secondary-outline);
}

button.secondary.outline:hover {
    color: var(--button-secondary-hover);
    border-color: var(--button-secondary-hover);
}

button.secondary.outline:active {
    color: var(--button-secondary-outline-active);
    border-color: var(--button-secondary-outline-active);
}

button:disabled {
    color: var(--button-text-disabled);
    background-color: var(--neutral-medium);
    border: unset;
}

button.outline:disabled {
    color: var(--button-outline-disabled);
    background-color: var(--button-bg-outline-disabled);
    border: 1px solid var(--button-outline-disabled);
}

.no-margin {
    margin: 0;
}

.margin-xxs {
    margin: var(--margin-xxs);
}

.margin-xs {
    margin: var(--margin-xs);
}

.margin {
    margin: var(--margin-sm);
}

.margin-lg {
    margin: var(--margin-lg);
}

.horizontal-margin-xs {
    margin: 0 var(--margin-xs);
}

.horizontal-margin {
    margin: 0 var(--margin-sm);
}

.horizontal-margin-lg {
    margin: 0 var(--margin-lg);
}

.vertical-margin-xs {
    margin: var(--margin-xs) 0;
}

.vertical-margin {
    margin: var(--margin-sm) 0;
}

.vertical-margin-md {
    margin: var(--margin-md) 0;
}

.vertical-margin-lg {
    margin: var(--margin-lg) 0;
}

.no-padding {
    padding: 0;
}

.padding-xs {
    padding: var(--padding-xs);
}

.padding {
    padding: var(--padding-sm);
}

.padding-lg {
    padding: var(--padding-lg);
}

.horizontal-padding-xs {
    padding: 0 var(--padding-xs);
}

.horizontal-padding {
    padding: 0 var(--padding-sm);
}

.horizontal-padding-lg {
    padding: 0 var(--padding-lg);
}

.vertical-padding-sx {
    padding: var(--padding-sx) 0;
}

.vertical-padding {
    padding: var(--padding-sm) 0;
}

.vertical-padding-lg {
    padding: var(--padding-lg) 0;
}

.flex-row-start {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
}

.flex-row-end {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
}

.flex-row-center {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.flex-row-space-between {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.flex-row-space-around {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.flex-row-space-evenly {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}

.flex-column-start {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    justify-content: flex-start;
}

.flex-column-center {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

.flex-column-space-between {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

/* https://www.browserstack.com/guide/what-are-css-and-media-query-breakpoints */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .display {
        font-size: 3.125rem;
    }

    h1 {
        font-size: 3.5rem;
    }

    h2 {
        font-size: 3rem;
    }

    h3 {
        font-size: 2.5rem;
    }

    h4 {
        font-size: 2rem;
    }

    h5 {
        font-size: 1.5rem;
    }

    .body1 {
        font-size: 1.75rem;
    }

    .body2 {
        font-size: 1.125rem;
    }

    .body3 {
        font-size: 1rem;
    }

    .body4 {
        font-size: 1rem;
    }

    .body5 {
        font-size: 0.875rem;
    }

    button,
    a {
        font-size: 1.25rem;
    }
}

textarea,
input[type="text"],
input[type="button"],
input[type="submit"] {
     -webkit-appearance: none;
     border-radius: 0;
}