.empty {
  width: 20%;
}

.nav a {
  color: var(--primary-blue);
  text-decoration: none;
  font-weight: 400;
}

.languages a {
  color: var(--neutral-medium-dark);
  text-decoration: none;
  font-weight: 400;
  font-size: 1rem;
}

.active {
  color: var(--primary-blue) !important;
}

@media only screen and (max-width: 600px) {
  .header {
    padding-top: 0;
  }

  .header img {
    width: 75%;
  }

  .nav {
    display: none;
  }

  .empty {
    display: none;
  }

  .languages {
    display: none;
  }
}
