.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0px 0px 16px 133px;
    gap: 100px;
}

.hero_container {
    margin-top: 319.5px;
    display: flex;
    flex-direction: column;
    gap: 29.5px;
}

.welcome_box {
    color: var(--primary-blue);
    padding: 8px;
}

.welcome_text{
    font-size: 50px;
    height: 58px;
}

.intro_text {
    padding: 15% 0px 0px 0px;
    color: var(--neutral-dark);
    text-align: justify;
    font-size: 28px;
    width: 507px;
}

.img_item{
    filter:drop-shadow(-10px 0px 10px rgba(0, 0, 0, 0.25)) 
            drop-shadow(-10px 0px 10px rgba(0, 0, 0, 0.25));
}

/* .img_item{
    
} */

@media only screen and (max-width: 600px) {
    .container{
        justify-content: center;
        padding: var(--spacing-unit);
        width: auto;
    }

    .hero_container {
        display: none;
    }
    
    .welcome_box {
        display: none;
    }
    
    .welcome_text{
        display: none;
    }
    
    .intro_text {
        display: none;
    }
    
    .img_item{
        width: auto;
    }
};
