.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: var(--spacing-unit);
}

.hero_container {
    margin-top: 319.5px;
    display: flex;
    flex-direction: column;
    gap: 29.5px;
}

.welcome_box {
    color: var(--primary-blue);
    padding: 8px;
}

.welcome_text {
    font-size: 50px;
    height: 58px;
}

.intro_text {
    padding: 15% 0px 0px 0px;
    color: var(--neutral-dark);
    text-align: justify;
    font-size: 28px;
    width: 507px;
}

.crop_img_banner {
    width: 632px;
    overflow: hidden;
    filter: drop-shadow(-10px 0px 10px rgba(0, 0, 0, 0.25))
        drop-shadow(-10px 0px 10px rgba(0, 0, 0, 0.25));
}

.img_banner {
    border-radius: 50%;
    object-fit: cover;
}

@media only screen and (max-width: 600px) {
    .container {
        justify-content: center;
        padding: var(--spacing-unit);
    }

    .hero_container {
        display: none;
    }

    .crop_img_banner {
        width: 327px;
        height: 194px;
        filter: none;
    }

    .crop_img_banner > .img_banner {
        width: 100%;
        height: 100%;
        border-radius: 10%;
        object-fit: fill;
    }
}
