.labelRadioButton {
    margin-left: 5px;
}

.radioButton {
    width: 100%;

    display: flex;

    margin-top: var(--margin-sm);
    margin-bottom: var(--margin-xs);

    color: var(--primary-white);
}
